.page{
    position: relative;
    background-color: #DDDDDD;
    height: 50rem;
    display: flex;
    justify-content: space-between;
}
.pageDown{
    display: flex;
    border: 1px red solid;
    width: 100%;
}