.Chatroom{
    position: relative;
    right: 20px;
    top: 90px;
    display: flex;
    width: 200px;
    justify-content: space-around;
    background: white;
    border: blue solid 2px;
    height: 500px;
    flex-direction: column;
    
}

.ChatroomTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
}

.ChatroomScreen{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 70%;
    border: black solid 2px;
    align-items: center;
    position: relative;
    left: 17px;
}

.ChatroomInput{
    position: relative;
    left: 17px;
    display: flex;
    width:80%;
    justify-content: center;
    align-items: center;
}