.File{
    top: 70px;
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}

.FileBackground{
    background: #dcdcdc;
    color: black;
    display: flex;
    width: 50%;
    height: 500px;
    justify-content: space-between;
    align-items: center;
    //border: solid #707070 3px;
    flex-direction: column;
}

.FileTitle{
    font-size: 24px;
    display: flex;
    width: 100%;
    height: 20%;
    align-items: center; 
    justify-content: center;
    color: black;
    //border: #707070 solid 3px;
}

.FileUpdate{
    justify-content: center;
    //border: red solid 2px;
}

.FileWindows{
    display: flex;
    width: 40rem;
    height: 30rem;
    align-items: center;
    justify-content: center;
    /*border: #707070 solid 3px;*/
    box-shadow: -0.5px -0.5px 0.5px  lightgray, 0.5px 0.5px 0.5px lightgray;
    flex-wrap: wrap;
    background: white;
}

.FileSmallWindows{
    border: 1px red solid;
    display: flex;
    width: 40rem;
    height: 200px;
    flex-direction: column;
    align-items: center;
    background: white;
}

.CloseButton{
    position: relative;
    left: 350px;
    bottom: 5px;
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background: lightgray;
    border: lightgray solid 1px;
}

.CloseButton:hover{
    background: orangered;
    border: orangered solid 1px;
}

.FirstFile{
    display: flex;
    width: 80%;
    height: 25%;
    justify-content: center;
    align-items: center;
    border: #707070 solid 1px;
}

.SecondFile{
    display: flex;
    width: 80%;
    height: 25%;
    justify-content: center;
    align-items: center;
    border: #707070 solid 1px;
}

.FirstFile:hover{
    background: lightgray;
}

.SecondFile:hover{
    background: lightgrey;
}

.ConfirmButton{
    position: relative;
    left: 50px;
    top: 10px;
    border: #707070 solid 2px;
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CancelButton{
    position: relative;
    left: 120px;
    bottom: 30px;
    border: #707070 solid 2px;
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ConfirmButton:hover{
    background: lightgrey;
}

.CancelButton:hover{
    background: lightgrey;
}

.AddButton{
    position: relative;
    bottom: 10px;
    left: 250px;
    display: flex;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: #CC653E;
    border: solid #707070 2px;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    background: white;
}

.AddButton:hover{
    background: lightgrey;
}