.File{
    top: 90px;
    position: relative;
    display: flex;
    width: 800px;
    height: 600px;
    justify-content: center;
    align-items: center;
    //border: 1px brown solid;
}

.FileBackground{
    background: white;
    color: black;
    display: flex;
    width: 70%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    //border: solid #707070 3px;
    flex-direction: column;
}

.FileTitle{
    font-size: 24px;
    display: flex;
    width: 100%;
    height: 10%;
    align-items: center; 
    justify-content: center;
    background: #ffd7ab;
    color: black;
    
}

.FileUpdate{
    justify-content: center;
    //border: red solid 2px;
}

.FileWindows{
    display: flex;
    width: 400px;
    height: 300px;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    
    box-shadow: -0.5px -0.5px 0.5px  lightgray, 0.5px 0.5px 0.5px lightgray;
    flex-wrap: wrap;
    background: lightgray;
}

.FileSmallWindows{
    //border: 1px red solid;
    display: flex;
    width: 60%;
    height: 80%;
    flex-direction: column;
    align-items: center;
    background: white;
}

.FileButton {
    display: flex;
    width: 200px;
    //border: 1px red solid;
}

.CloseButton{
    position: relative;
    left: 170px;
    
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background: white;
    border: lightgray solid 1px;
}

.CloseButton:hover{
    background: orangered;
    border: orangered solid 1px;
}

.FirstFile{
    display: flex;
    width: 100%;
    height: 15%;
    justify-content: center;
    align-items: center;
    border: #707070 solid 1px;
}

.SecondFile{
    display: flex;
    width: 100%;
    height: 15%;
    justify-content: center;
    align-items: center;
    border: #707070 solid 1px;
}

.FirstFile:hover{
    background: lightgray;
}

.SecondFile:hover{
    background: lightgrey;
}

.ConfirmButton{
    display: flex;
    position: relative;
    left: 50px;
    border: #707070 solid 2px;
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CancelButton{
    position: relative;
    left: 60px;
    
    border: #707070 solid 2px;
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ConfirmButton:hover{
    background: lightgrey;
}

.CancelButton:hover{
    background: lightgrey;
}

.AddButton{
    position: relative;
    bottom: 10px;
    left: 250px;
    display: flex;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: #CC653E;
    border: solid #707070 2px;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    background: white;
}

.AddButton:hover{
    background: lightgrey;
}

.File1{
    background: white;
    width: 60%;
    height: 40px;
    display: flex;
    align-items: center;
    position: relative;
    top: 10px;
}

.File2{
    background: white;
    width: 60%;
    height: 40px;
    display: flex;
    align-items: center;
    position: relative;
    top: 40px;
}