.Navbar{
    background: #ffd7ab;
    color: white;
    display: inline-flex;
    position: fixed;
    height: 70px;
    width: 100%;
}

.NavbarTitle{
    font-size: 25px;
    display: flex;
    height: 100%;
    width: 80%;
    justify-content: center;
    align-items: center;
    //border: red solid 2px;
}

.NavbarUser{
    font-size: 20px;
    display: flex;
    height: 100%;
    width: 15%;
    justify-content: flex-end;
    align-items: center;
    //border: red solid 2px;
}